*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  font-family: "Courier New", Courier, monospace;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #111111;
  cursor: zoom-in;
}
.inputs__dield {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  padding: 1.5em;
  display: flex;
  align-items: center;
  border: 1px solid#fff;
}

.upload-button {
  --opacity: 0.5;
  --color: hsl(0, 0%, 100%, var(--opacity));
  color: var(--color);
  border: 1px var(--color) solid;
  padding: 0.5em 1em;
  cursor: pointer;
  margin-left: 1em;
}
.upload-button:hover {
  --opacity: 1;
}
.mouse-radius-input {
  --opacity: 0.5;
  --color: hsl(0, 0%, 100%, var(--opacity));
  color: var(--color);
  border: 1px var(--color) solid;
  padding: 0.5em 1em;
  background-color: transparent;
}

.cercle-radius-label {
  color: #fff;
  font-weight: bold;
  font-size: 1.25em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1em;
}
